## dev
src
.babelrc
rollup.config.js
.eslintrc.json
.prettierrc
public
.vscode
build
## node modules folder
node_modules
## git repository related files
.git
.gitignore
npm-debug.log
.npmrc
#others
package-lock.json